@import url(../../style.css);
@import url(../common/global.css);
@import url(../autoloads/global.css);

body {
	width: 100%;
}

#about-us-main {
	width: 100%;

	.about-us-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;

		height: 80vh;
		width: 100%;
		margin: auto;

		div {
			display: flex;
			flex-direction: column;
			text-align: center;

			width: 95%;
			gap: 1rem;
			h2 {
				font-size: 2rem;
			}
			p {
				font-size: 1.5rem;
			}
		}

		figure {
			height: 60%;
			img {
				object-fit: contain;
				height: 100%;
				width: 100%;
			}
		}
	}
}

@media (min-width: 770px) {
	.about-us-container {
		justify-content: space-around !important;

		div {
			text-align: start !important;

			width: 70% !important;
			gap: 2rem !important;

			h2 {
				text-align: center;
				font-size: 2.5rem !important;
			}

			p {
				text-align: center;
				font-size: 1.8rem !important;
				width: 100% !important;
			}
		}

		figure {
			width: 50% !important;
			height: 60% !important;
		}
	}
}

@media (min-width: 930px) {
	.about-us-container {
		div {
			width: 60% !important;
		}
	}
}

@media (min-width: 1080px) {
	.about-us-container {
		div {
			width: 50% !important;
		}
	}
}

@media (min-width: 1480px) {
	.about-us-container {
		div {
			width: 700px !important;
		}
	}
} ;
